<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">Kelvin-Pascal Trading Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">

    <li class="nav-item active">
    <a class="nav-link" href="#">Home
    <span class="sr-only">(current)</span>
    </a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="#">Strategy</a>
    </li>

   <li class="nav-item">
    <a class="nav-link" href="#">Trades</a>
    </li>
   </ul>
  
    <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
    <a class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Register</a>
    </li>
   </ul>
    </div>
    </div>
   </nav>