<div class = "tradeTable trad-padd">
    <ag-grid-angular 
        style="width: 1101px; height: 250px;" 
        class="ag-theme-balham"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
    >
    </ag-grid-angular>

</div>
