<button type="button" class="btn btn-dark" data-toggle = "modal" data-target="#submitModal">Launch demo modal</button>

        <!--Modal-->
        <div class="modal" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class = "modal-dialog " role="document">
                <div class = "modal-content">
        
                    <!--Modal Header-->
                    <div class="modal-header">
                        <h3 class="modal-title"> Submit: </h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!--Modal Body-->
                    <div class="modal-body">
                        sample text
                    </div>
                </div>
            </div>
        </div>