<span>
<div class = 'container'>
    <app-navigation-bar></app-navigation-bar>
</div>
</span>
<span>
<div class='container'>
    <div class='row1'>
        <div class='col'>
            <app-strategy-input></app-strategy-input>
        </div>
    </div>
</div>
</span>
<div class='container'>
    <div class='row2'>
        <app-strategy-type></app-strategy-type>
        <div class='row'>
            <div class='col-1'></div>
            <div class='col'>
                <button type="button" class="btn btn-dark" data-toggle = "modal" data-target="#tradeModal">Trade Table</button>
        
                <!--Modal-->
                <div class="modal" id="tradeModal" tabindex="-1" role="dialog" aria-labelledby="myTradeModalLabel" aria-hidden="true">
                    <div class = "modal-dialog modal-xl" role="document">
                        <div class = "modal-content">
        
                        <!--Modal Header-->
                            <div class="modal-header">
                                <h3 class="modal-title"> Trade Table</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
    
                        <!--Modal Body-->
                            <div class="modal-body">
                                <app-trade-table></app-trade-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>
                <button type="button" class="btn btn-dark" data-toggle = "modal" data-target="#dealsModal">Deals Table</button>
        
                <!--Modal-->
                <div class="modal" id="dealsModal" tabindex="-1" role="dialog" aria-labelledby="myDealsModalLabel" aria-hidden="true">
                    <div class = "modal-dialog modal-xl" role="document">
                        <div class = "modal-content">
        
                        <!--Modal Header-->
                            <div class="modal-header">
                                <h3 class="modal-title"> Deals Table</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
    
                        <!--Modal Body-->
                            <div class="modal-body">
                                <app-deals-table></app-deals-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>
                <button type="button" class="btn btn-dark" data-toggle = "modal" data-target="#strategiesModal">Strategies Table</button>
        
                <!--Modal-->
                <div class="modal" id="strategiesModal" tabindex="-1" role="dialog" aria-labelledby="myStrategiesModalLabel" aria-hidden="true">
                    <div class = "modal-dialog modal-xl" role="document">
                        <div class = "modal-content">
        
                        <!--Modal Header-->
                            <div class="modal-header">
                                <h3 class="modal-title"> Strategies Table</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <!--Modal Body-->
                            <div class="modal-body">
                                <app-strategies-table></app-strategies-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-1'></div>
        </div>
    </div>
</div>




