.row1 {
    display: inline-block; 
    position:absolute; 
    left:10.5%; top:10%
}

.row2 {
    position:absolute; 
    right:10.5%; top:10%
}


.row3{
    padding-top: 55%;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.row4 {
    padding-bottom: 50px
}
