
<div class="col-xl" style='
align-items:flex-start;
justify-content:left;' >
    <form style="text-align: center;">
        <div class="form-group">
            <label for="strategyNameInput">Strategy Name</label>
            <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="strategyNameInput" placeholder="Please input a name for your strategy">
        </div>  
        <div class="form-group">
            <label for="stockInput">Stock to be traded</label>
            <select [(ngModel)]="ticker" [ngModelOptions]="{standalone: true}" type="options" class="form-control" id="stockInput" aria-describedby="stockHelp">
                <option></option>    
                <option *ngFor="let stock of stocks">{{ stock.ticker }}</option>
            </select>
            <small id="stockHelp" class="form-text text-muted">If you would like more stock options please contact your admin</small>
        </div>


        <div class="form-group">
            <label for="capitalInput">Capital</label>
            (£)
            <input [(ngModel)]="capital" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="capitalInput" placeholder="Please dont add any currency (£$) symbols">
        </div>


        <div class="form-group">
            <div>
                <label for="shortMinutesInput" >Short Window Size</label>
            </div>
            <div class='col-sm-6 new1'>
                <input [(ngModel)]="shortWindowMinutes" [ngModelOptions]="{standalone: true}" type="number" class="windowInput; form-control" id="capitalInput" placeholder="Maybe 1 minute?">
                <small class="form-text text-muted">Minutes</small>
        
            </div>
            <div class='col-sm-6 new1'>
                <input [(ngModel)]="shortWindowSeconds" [ngModelOptions]="{standalone: true}" type="number" class="windowInput; form-control" id="capitalInput" placeholder="Min = 10 Seconds">

                <small class="form-text text-muted">Seconds</small>

            </div>
        </div>

        <div class="form-group"> 
            <div>
                <label for="longWindowInput">Long Window Size</label>
            </div>
            <div class='col-sm-6 new1'>
                <input [(ngModel)]="longWindowMinutes" [ngModelOptions]="{standalone: true}" type="number" class="windowInput; form-control" id="capitalInput" placeholder="Maybe 2 minutes?">
                <small class="form-text text-muted">Minutes</small>

            </div>
            <div class='col-sm-6 new1'>
                <input [(ngModel)]="longWindowSeconds" [ngModelOptions]="{standalone: true}" type="number" class="windowInput; form-control" id="capitalInput" placeholder="Min = 10 Seconds">

                <small class="form-text text-muted">Seconds</small>

            </div>
        </div>
        <div class = "row" style = "padding-top: 0">
            <div class = "col" style = "padding-left:17.5%">
                <button (click)="ngClick()" type="button" class="btn-info btn-primary">Submit</button>
            </div>
            <div class = "col" style = "padding-right:17.5%">
                <button (click)="resetValues()" type="button" class="btn-info btn-primary">Reset Form</button>
            </div>
        </div>
    </form>
</div>