.nav-link1{
    color:white;
    width: 200%px;
    padding: 10px;
    white-space: nowrap;
    /* position:absolute; right:15% */
}

.small-muted{
    padding: 5px;
    width: 200%;
    display: inline-block;
    text-align: right;
    white-space: nowrap;
}

.nav-link2{
    display: inline-block;
    width: 250%;
    padding: 10px;
    /* position:absolute; right:8% */
}

.nav-link3 {
    color: red;
    display: inline-block;
    padding: 10px;
    /* position:absolute; right:3%; */
}

