<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <h3 class="navbar-brand" href="#">Kelvin-Pascal Trading Platform</h3>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" >
            <a class="nav-link1" href="#">Back to top
              <span class="sr-only">(current)</span>
            </a>
            <div class='row'>
              <div class="col-lg-6" style="display: inline-block;">
                <button class='btn-info' (click)="refresh()" style='height: 40px;'>Refresh</button>
              </div>
              <div class="col-lg-3" style="display: inline-block; right: 25px">
                <select style=' width: 100px; height: 40px;' type="options" [(ngModel)]="stratName"  class="form-control" id="stratInput" aria-describedby="stockHelp" >
                    <option></option>  
                    <option *ngFor="let strat of activeStrategies">{{ strat.name }}</option>
                </select>
              </div>
              <div class="col-lg-3" style="display: inline-block;">
                <button (click)="stopStrategy(stratName)" type="button" class="btn-danger" style="display: inline-block; font-size: 10px; width: 50px; height: 40px;">Stop</button>
              </div>
            </div>
        </ul>
      </div>
    </div>
  </nav>
