<div class="row">
        <div class="col-md-3">
            Section 1
        </div>
        <div class="col-md-3">
            Section 2
        </div>
        <div class="col-md-3">
            Section 3
        </div>
        <div class="col-md-3">
            Section 4
        </div>
    </div>