
<div>
<div class = "container" >
  <div class="card cstyle" >
    <img class="card-img-top">
    <div class="card-body" style="height: 400px;">
      <h6 class="card-title">Strategy View</h6>
        <div class = "row">
          <div class = "col-9" >
            <select type="options" [(ngModel)]="strategyName"  class="form-control" id="stratInput" aria-describedby="stockHelp" >
              <option></option>  
              <option *ngFor="let strat of strategies">{{ strat.name }}</option>
            </select>
          </div>
          <div class='col-3' style='right: 5px'>
            <button (click)="showStats(strategyName)" type="button" class="btn-dark btn-primary" style="padding: 5px;">Show Stats</button>
          </div>
      </div>
      <div class=row style=' padding-top: 5%'>
          <div style="position:absolute; right:55%;">
              <form>
              
                <div class="form-group">
                  <label for="ShortWindow"><b>Name</b></label>
                  : {{strategy.name}}
                </div>
              
                <div class="form-group">
                  <label for="Ticker"><b>Ticker</b></label>
                  : {{ strategy.stock.ticker }}
                </div>
              
                <div class="form-group">
                  <label for="Capital"><b>Capital</b></label>
                  : {{strategy.capital.toLocaleString('en-GB', { style: 'currency', currency: 'GBP' })}}
                </div>
              
                <div class="form-group">
                  <label for="P/L"><b>P/L</b></label>
                  : {{strategy.profit.toLocaleString('en-GB', { style: 'currency', currency: 'GBP' })}}
                </div>
              
                <div class="form-group">
                  <label for="ROI"><b>ROI</b></label>
                  : {{((strategy.roi)*100).toFixed(2)}}%
                </div>
                </form>
              
              </div>
              
              <div style="position:absolute; right:15%">
                <form>
                  
                <div class="form-group">
                  <label for="ShortWindow"><b>Strategy Id</b></label>
                  : {{strategy.id}}
                </div>
              
                <div class="form-group">
                  <label for="ShortWindow"><b>Short Window</b></label>
                  : {{strategy.shortWindow * 10}}
                </div>
              
                <div class="form-group">
                  <label for="LongWindow"><b>LongWindow</b></label>
                  : {{strategy.longWindow * 10}}
                </div>
              
                <div class="form-group">
                  <label for="StartTime"><b>Start Date</b></label>
                  : {{dateFunc(strategy.start)}}
                </div>
              
                <div class="form-group">
                  <label for="EndTime"><b>End Date</b></label>
                  : {{dateFunc(strategy.stop)}}
                </div>
              
              </form>
              </div>
      </div>
    </div>
    </div>
  </div>
<br><br>

</div>
