<div class = "pad-top" style = "padding-bottom: 5%">
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role = 'tablist'>
        <li class="nav-item" id="tab1">
          <a class="nav-link" href="#first-tab" (click)="showTab1()">Trades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#second-tab" (click)="showTab2()">Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#third-tab" (click)="showTab3()">Strategies</a>
        </li>
      </ul>
    </div>

    <div [hidden]="hideTab1" id="first-tab"  role="tabpanel">
        <app-trade-table></app-trade-table>
    </div>

    <div [hidden]="hideTab2" id="second-tab" role="tabpanel">
        <app-deals-table></app-deals-table>
    </div>

    <div [hidden]="hideTab3" id="third-tab" role="tabpanel">
        <app-strategies-table></app-strategies-table>
    </div>
</div>
</div>
