<div class = "si-padding">
    <ag-grid-angular 
        style="width: 1108px; height: 250px;" 
        class="ag-theme-balham"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        >
    </ag-grid-angular>
</div>
